@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}
